.table {
  max-width: 400px;
  width: 100%;
  border: thick solid rgb(254, 254, 254);
  border-color: rgb(250, 252, 250);
  border-style: solid;
  background-color: rgb(133, 90, 142);
  margin: auto;
  padding: 25px;
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 20px;
}
.Table_cell {
  border: 1px solid #ffffff;
  text-align: center;
}
.Table_head {
  border: 1px solid #f0efef;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}
